<p>Hi this app allows you to give kudos to your teammates and search for new ones! Register today to gain full access</p>
<%= link_to 'Login', '', class: 'btn btn-primary' %>
<%= link_to 'Register', '', class: 'btn btn-primary' %>