@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import "bootstrap-datepicker";

.to-right {
  float: right;
}

.sign-up.form-control {
  width: 154px;
  margin-left: 298px;
}

.btn-green {
  @include button-variant(white, green, green);
}

.btn-red {
  @include button-variant(white, red, red);
}